.custom-logo-link img{
    filter: invert(1);
    margin: 0.5em;
}
.custom-logo-link{
    color: white;
}

.butao{
    align-items: center;
}

.aqua-button {
    background-color: aqua;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .aqua-button:hover {
    background-color: lightcyan;
  }
  